.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.location {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 20%;
}

.ftpage {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footbg {
  background-color: rgba(0, 0, 0, 0.5);
}
